

.image{
	max-width: 231px;
}

.description{
	max-width: 705px
}

.title{
	max-width:906px;
}

.app{
	display: flex;
}

h1 {
	background-color: #33EBEB;
	font-size: 48px;
	color: white;
	font-family: Helvetica;
	text-align: left;
	padding: 20px;
	margin: 0;

}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

